@mixin avenir-regular {
	font-family:'Avenir Next W02 Light';
	font-weight: normal;
}

.avenir-regular {
	@include avenir-regular;
}

@mixin avenir-medium {
	font-family:'AvenirNextLTW01-MediumS';
	font-weight: normal;
}

.avenir-medium {
	@include avenir-medium;
}

@mixin avenir-bold {
	font-family:'Avenir Next W04 Bold';
	font-weight: normal;
}

.avenir-bold {
	@include avenir-bold;
}


